[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rworldmap"]
	path = rworldmap
	url = https://github.com/andysouth/rworldmap
[submodule "rworldxtra"]
	path = rworldxtra
	url = https://github.com/andysouth/rworldxtra
